### 1.Respiratory score계산
- Pao2_FiO2 / ventilation

In [299]:
import pandas as pd
import numpy as np
file='/save/sofa_file/mimic_Respiration.csv'
Respiratory=pd.read_csv(file, sep=',', encoding='CP949')
Respiratory

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,pao2_fio2,vent
0,14474291,24489118,2185-05-22 17:33:00,2185-05-27 17:46:00,35451559,2185-05-23 18:16:00,2185-05-23 03:02:56,2185-05-24 15:51:26,2185-05-23 20:21:00,control,NaN,Ventilation
1,12586891,20283635,2135-10-16 00:47:00,2135-10-20 18:20:00,31486603,2135-10-18 10:00:00,2135-10-16 11:55:11,2135-10-19 14:33:29,2135-10-18 10:05:00,control,NaN,Ventilation
2,12271507,22258468,2120-02-18 00:00:00,2120-02-25 14:00:00,35876246,2120-02-21 20:00:00,2120-02-18 13:08:42,2120-02-22 17:54:17,2120-02-21 21:12:00,hypotension,NaN,NaN
3,15066358,28602616,2138-08-05 22:01:00,2138-08-08 20:15:00,39562405,2138-08-06 12:00:00,2138-08-05 22:01:57,2138-08-06 23:16:56,2138-08-06 17:18:00,control,NaN,Ventilation
4,10343369,25921885,2146-11-12 02:36:00,2146-12-12 14:46:00,38434214,2146-11-12 08:00:00,2146-11-12 04:24:00,2146-11-15 17:22:55,2146-11-12 12:27:00,hypotension,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7509,11439955,27907898,2125-06-16 11:24:00,2125-06-25 18:42:00,31730195,2125-06-17 18:00:00,2125-06-17 10:19:34,2125-06-22 13:53:55,2125-06-17 23:30:00,hypotension,NaN,Ventilation
7510,16760919,25261418,2167-01-28 21:19:00,2167-02-23 16:25:00,35222042,2167-02-09 23:00:00,2167-02-09 12:50:44,2167-02-15 16:06:02,2167-02-09 23:50:00,control,NaN,Ventilation
7511,16680284,24006731,2138-01-02 01:18:00,2138-01-29 19:30:00,30954212,2138-01-08 09:00:00,2138-01-06 20:02:12,2138-01-12 16:37:30,2138-01-08 14:49:00,hypotension,NaN,Ventilation
7512,10756776,24477686,2179-01-02 19:08:00,2179-01-09 19:05:00,39506188,2179-01-04 00:00:00,2179-01-02 19:08:33,2179-01-04 18:47:01,2179-01-04 02:00:00,control,NaN,NaN
7513,18908516,27332538,2180-04-14 00:00:00,2180-06-12 20:35:00,37329406,2180-04-16 02:00:00,2180-04-14 09:59:03,2180-06-07 17:06:12,2180-04-16 07:59:00,control,NaN,Ventilation

In [300]:
def Respiratory_score(table):

     # Respiratory score
    for i, row in table.iterrows():
        if table.at[i,'vent']=='Ventilation':
            if table.at[i,'pao2_fio2'] < 100:
                table.at[i,'Respiration_score']=4
            else:
                table.at[i,'Respiration_score'] = 3
        else:
            if table.at[i,'pao2_fio2'] >= 400:
                table.at[i,'Respiration_score']=0
            elif table.at[i,'pao2_fio2'] >= 300:
                table.at[i,'Respiration_score']=1
            elif table.at[i,'pao2_fio2'] < 300:
                table.at[i,'Respiration_score']=2
            else:
                table.at[i,'Respiration_score'] = None

In [301]:
Respiratory_score(Respiratory)
Respiratory

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,pao2_fio2,vent,Respiration_score
0,14474291,24489118,2185-05-22 17:33:00,2185-05-27 17:46:00,35451559,2185-05-23 18:16:00,2185-05-23 03:02:56,2185-05-24 15:51:26,2185-05-23 20:21:00,control,NaN,Ventilation,3.0
1,12586891,20283635,2135-10-16 00:47:00,2135-10-20 18:20:00,31486603,2135-10-18 10:00:00,2135-10-16 11:55:11,2135-10-19 14:33:29,2135-10-18 10:05:00,control,NaN,Ventilation,3.0
2,12271507,22258468,2120-02-18 00:00:00,2120-02-25 14:00:00,35876246,2120-02-21 20:00:00,2120-02-18 13:08:42,2120-02-22 17:54:17,2120-02-21 21:12:00,hypotension,NaN,NaN,NaN
3,15066358,28602616,2138-08-05 22:01:00,2138-08-08 20:15:00,39562405,2138-08-06 12:00:00,2138-08-05 22:01:57,2138-08-06 23:16:56,2138-08-06 17:18:00,control,NaN,Ventilation,3.0
4,10343369,25921885,2146-11-12 02:36:00,2146-12-12 14:46:00,38434214,2146-11-12 08:00:00,2146-11-12 04:24:00,2146-11-15 17:22:55,2146-11-12 12:27:00,hypotension,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,11439955,27907898,2125-06-16 11:24:00,2125-06-25 18:42:00,31730195,2125-06-17 18:00:00,2125-06-17 10:19:34,2125-06-22 13:53:55,2125-06-17 23:30:00,hypotension,NaN,Ventilation,3.0
7510,16760919,25261418,2167-01-28 21:19:00,2167-02-23 16:25:00,35222042,2167-02-09 23:00:00,2167-02-09 12:50:44,2167-02-15 16:06:02,2167-02-09 23:50:00,control,NaN,Ventilation,3.0
7511,16680284,24006731,2138-01-02 01:18:00,2138-01-29 19:30:00,30954212,2138-01-08 09:00:00,2138-01-06 20:02:12,2138-01-12 16:37:30,2138-01-08 14:49:00,hypotension,NaN,Ventilation,3.0
7512,10756776,24477686,2179-01-02 19:08:00,2179-01-09 19:05:00,39506188,2179-01-04 00:00:00,2179-01-02 19:08:33,2179-01-04 18:47:01,2179-01-04 02:00:00,control,NaN,NaN,NaN
7513,18908516,27332538,2180-04-14 00:00:00,2180-06-12 20:35:00,37329406,2180-04-16 02:00:00,2180-04-14 09:59:03,2180-06-07 17:06:12,2180-04-16 07:59:00,control,NaN,Ventilation,3.0

In [302]:
Respiratory.to_csv(('SOFA_SCORE_Respiratory.csv'), index=False)

### 2. Cardiovascular score계산
- mbp / dopamine / epinephire / norepinephire

In [338]:
file='/save/sofa_file/mimic_Cardiovascular.csv'
Cardiovascular=pd.read_csv(file, sep=',', encoding='CP949')
Cardiovascular

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,mbp,medication_vaso,amount,amountuom,rate,rateuom
0,12377638,20006999,2127-06-17 10:45:00,2127-06-24 15:54:00,32160575,2127-06-19 02:00:00,2127-06-18 09:29:36,2127-06-21 11:34:11,2127-06-19 04:52:00,hypotension,57.0,epinephrine,0.063,mg,0.030,mcg/kg/min
1,16534814,20019875,2144-01-07 00:00:00,2144-01-15 10:30:00,39586196,2144-01-09 02:30:00,2144-01-08 13:23:11,2144-01-11 17:40:36,2144-01-09 02:34:00,control,69.0,norepinephrine,0.139,mg,0.020,mcg/kg/min
2,13399796,20020590,2121-11-17 20:18:00,2121-11-19 18:00:00,39167908,2121-11-18 00:00:00,2121-11-17 20:18:32,2121-11-20 03:20:40,2121-11-18 05:06:00,hypotension,78.0,norepinephrine,0.279,mg,0.100,mcg/kg/min
3,13743788,20024997,2153-03-21 21:34:00,2153-03-27 16:21:00,30114664,2153-03-22 01:00:00,2153-03-21 21:35:44,2153-03-25 16:18:33,2153-03-22 06:00:00,control,76.0,vasopressin,21.520,units,2.400,units/hour
4,19290559,20025037,2154-08-31 05:18:00,2154-09-05 15:16:00,30271409,2154-08-31 11:00:00,2154-08-31 05:41:00,2154-09-02 21:14:46,2154-08-31 13:00:00,hypotension,NaN,norepinephrine,1.304,mg,0.093,mcg/kg/min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,16058742,20477478,2133-11-02 15:09:00,2133-11-18 18:20:00,39394095,2133-11-02 16:32:00,2133-11-02 16:15:00,2133-11-12 17:15:13,2133-11-02 20:28:00,control,NaN,NaN,NaN,NaN,NaN,NaN
7510,11981568,25657883,2138-12-28 21:59:00,2139-04-15 17:30:00,39366449,2139-02-15 08:00:00,2139-02-13 10:00:03,2139-02-17 16:41:35,2139-02-15 10:00:00,control,NaN,NaN,NaN,NaN,NaN,NaN
7511,12079813,21760468,2157-04-27 02:42:00,2157-05-08 12:50:00,39032966,2157-04-27 12:00:00,2157-04-27 04:17:00,2157-05-02 16:27:37,2157-04-27 16:08:00,control,NaN,NaN,NaN,NaN,NaN,NaN
7512,19767462,23569057,2156-07-22 23:00:00,2156-08-09 15:00:00,39939500,2156-07-23 16:00:00,2156-07-23 00:19:00,2156-07-29 23:28:32,2156-07-23 18:38:00,control,NaN,NaN,NaN,NaN,NaN,NaN
7513,10890447,28025587,2149-08-24 06:46:00,2149-09-16 18:37:00,39823174,2149-08-27 13:00:00,2149-08-24 10:06:50,2149-09-16 19:32:07,2149-08-27 18:17:00,control,86.0,NaN,NaN,NaN,NaN,NaN

In [339]:
Cardiovascular= Cardiovascular.replace({np.nan:None})

def Cardiovascular_score(table):

    # Cardiovascular score
    for i, row in table.iterrows(): 
        if table.at[i,'medication_vaso'] == None:
            if table.at[i,'mbp'] == None:
                table.at[i,'Cardiovascular_score'] = None
            elif table.at[i,'mbp'] >= 70:
                table.at[i,'Cardiovascular_score'] = 0
            else:
                table.at[i,'Cardiovascular_score'] = 1
                
        elif table.at[i,'medication_vaso']=='dopamine' or  table.at[i,'medication_vaso']=='dobutamine':
            table.at[i,'Cardiovascular_score'] = 2
            
        else:
            table.at[i,'Cardiovascular_score'] = 3

In [340]:
Cardiovascular_score(Cardiovascular)
Cardiovascular

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,mbp,medication_vaso,amount,amountuom,rate,rateuom,Cardiovascular_score
0,12377638,20006999,2127-06-17 10:45:00,2127-06-24 15:54:00,32160575,2127-06-19 02:00:00,2127-06-18 09:29:36,2127-06-21 11:34:11,2127-06-19 04:52:00,hypotension,57.0,epinephrine,0.063,mg,0.03,mcg/kg/min,3.0
1,16534814,20019875,2144-01-07 00:00:00,2144-01-15 10:30:00,39586196,2144-01-09 02:30:00,2144-01-08 13:23:11,2144-01-11 17:40:36,2144-01-09 02:34:00,control,69.0,norepinephrine,0.139,mg,0.02,mcg/kg/min,3.0
2,13399796,20020590,2121-11-17 20:18:00,2121-11-19 18:00:00,39167908,2121-11-18 00:00:00,2121-11-17 20:18:32,2121-11-20 03:20:40,2121-11-18 05:06:00,hypotension,78.0,norepinephrine,0.279,mg,0.1,mcg/kg/min,3.0
3,13743788,20024997,2153-03-21 21:34:00,2153-03-27 16:21:00,30114664,2153-03-22 01:00:00,2153-03-21 21:35:44,2153-03-25 16:18:33,2153-03-22 06:00:00,control,76.0,vasopressin,21.52,units,2.4,units/hour,3.0
4,19290559,20025037,2154-08-31 05:18:00,2154-09-05 15:16:00,30271409,2154-08-31 11:00:00,2154-08-31 05:41:00,2154-09-02 21:14:46,2154-08-31 13:00:00,hypotension,None,norepinephrine,1.304,mg,0.093,mcg/kg/min,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,16058742,20477478,2133-11-02 15:09:00,2133-11-18 18:20:00,39394095,2133-11-02 16:32:00,2133-11-02 16:15:00,2133-11-12 17:15:13,2133-11-02 20:28:00,control,None,None,None,None,None,None,NaN
7510,11981568,25657883,2138-12-28 21:59:00,2139-04-15 17:30:00,39366449,2139-02-15 08:00:00,2139-02-13 10:00:03,2139-02-17 16:41:35,2139-02-15 10:00:00,control,None,None,None,None,None,None,NaN
7511,12079813,21760468,2157-04-27 02:42:00,2157-05-08 12:50:00,39032966,2157-04-27 12:00:00,2157-04-27 04:17:00,2157-05-02 16:27:37,2157-04-27 16:08:00,control,None,None,None,None,None,None,NaN
7512,19767462,23569057,2156-07-22 23:00:00,2156-08-09 15:00:00,39939500,2156-07-23 16:00:00,2156-07-23 00:19:00,2156-07-29 23:28:32,2156-07-23 18:38:00,control,None,None,None,None,None,None,NaN
7513,10890447,28025587,2149-08-24 06:46:00,2149-09-16 18:37:00,39823174,2149-08-27 13:00:00,2149-08-24 10:06:50,2149-09-16 19:32:07,2149-08-27 18:17:00,control,86.0,None,None,None,None,None,0.0

In [341]:
Cardiovascular.to_csv(('SOFA_SCORE_Cardiovascular.csv'), index=False)

### 3. Central nervous system score계산
- gcs

In [307]:
file='/save/sofa_file/mimic_Central nervous system.csv'
GCS=pd.read_csv(file, sep=',', encoding='CP949')
GCS

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,eye,verbal,motor,sum
0,16230775,20002506,2132-03-19 05:42:00,2132-03-28 16:09:00,33215549,2132-03-19 20:00:00,2132-03-19 05:50:00,2132-03-25 19:23:18,2132-03-19 20:12:00,control,3.0,1.0,5.0,9.0
1,16512642,20004165,2116-07-21 00:00:00,2116-07-24 14:00:00,30108560,2116-07-21 21:17:00,2116-07-21 21:08:53,2116-07-22 20:48:27,2116-07-21 21:55:00,control,4.0,5.0,6.0,15.0
2,19244907,20005119,2112-11-08 20:25:00,2112-12-16 17:42:00,36288584,2112-12-06 16:00:00,2112-11-08 21:13:00,2112-12-08 15:28:09,2112-12-06 20:49:00,control,4.0,4.0,6.0,14.0
3,12377638,20006999,2127-06-17 10:45:00,2127-06-24 15:54:00,32160575,2127-06-19 02:00:00,2127-06-18 09:29:36,2127-06-21 11:34:11,2127-06-19 04:52:00,hypotension,1.0,1.0,1.0,3.0
4,13470381,20010741,2166-03-10 08:00:00,2166-03-17 12:05:00,34631630,2166-03-10 23:00:00,2166-03-10 18:26:07,2166-03-12 17:39:01,2166-03-11 02:35:00,control,1.0,1.0,5.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,16195949,29994240,2175-05-03 07:15:00,2175-05-08 13:13:00,31875334,2175-05-03 16:00:00,2175-05-03 08:54:53,2175-05-04 19:16:38,2175-05-03 20:30:00,hypotension,1.0,1.0,4.0,6.0
7510,16853848,29996630,2188-11-24 01:54:00,2188-12-18 16:50:00,32434045,2188-11-28 20:00:00,2188-11-24 16:01:58,2188-11-29 18:51:14,2188-11-28 23:01:00,control,3.0,1.0,6.0,10.0
7511,14974584,29997440,2131-12-10 07:45:00,2131-12-15 16:45:00,32715431,2131-12-12 04:00:00,2131-12-10 10:32:07,2131-12-12 13:24:56,2131-12-12 08:43:00,hypotension,1.0,1.0,1.0,3.0
7512,18434803,29998399,2112-05-08 20:38:00,2112-05-24 16:40:00,39492012,2112-05-12 08:00:00,2112-05-08 21:25:00,2112-05-15 17:37:18,2112-05-12 13:39:00,control,3.0,1.0,6.0,10.0
7513,15129243,29999098,2128-06-09 23:45:00,2128-06-20 11:25:00,33475199,2128-06-10 20:00:00,2128-06-10 01:18:00,2128-06-21 03:01:13,2128-06-10 23:02:00,control,4.0,3.0,5.0,12.0

In [308]:
GCS= GCS.replace({np.nan:None})

def GCS_score(table):

    # GCS score
    for i, row in table.iterrows(): 
        if table.at[i,'sum'] == None:
            table.at[i,'GCS_score'] = None
        elif table.at[i,'sum'] >= 15:
            table.at[i,'GCS_score'] = 0
        elif table.at[i,'sum'] >= 13:
            table.at[i,'GCS_score'] = 1
        elif table.at[i,'sum'] >=10: 
            table.at[i,'GCS_score'] = 2 
        elif table.at[i,'sum'] >=6:
            table.at[i,'GCS_score'] = 3
        else:
            table.at[i,'GCS_score'] = 4

In [309]:
GCS_score(GCS)

In [310]:
GCS.to_csv(('SOFA_SCORE_GCS.csv'), index=False)

### 4. Liver score계산
- bilirubin

In [311]:
file='/save/sofa_file/mimic_Liver.csv'
Liver=pd.read_csv(file, sep=',', encoding='CP949')
Liver

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,bilirubin
0,10005817,20626031,2132-12-12 01:43:00,2132-12-20 15:04:00,32604416,2132-12-15 18:50:00,2132-12-15 09:29:01,2132-12-17 18:06:07,2132-12-15 19:50:00,hypotension,NaN
1,10023486,25262533,2151-06-06 14:05:00,2151-06-24 20:13:00,31361200,2151-06-10 02:00:00,2151-06-06 14:06:06,2151-06-13 22:03:23,2151-06-10 04:44:00,control,NaN
2,10024982,25154057,2203-09-19 12:29:00,2203-10-11 19:10:00,37919901,2203-10-01 05:00:00,2203-09-20 18:27:39,2203-10-11 22:39:25,2203-10-01 07:29:00,control,1.2
3,10035631,29276678,2116-02-27 20:55:00,2116-03-12 07:45:00,30932571,2116-03-05 22:00:00,2116-02-28 18:43:20,2116-03-10 06:35:04,2116-03-06 03:37:00,hypotension,0.6
4,10038688,25926997,2181-12-06 06:16:00,2181-12-24 06:40:00,33804579,2181-12-08 04:00:00,2181-12-06 08:14:00,2181-12-22 20:27:01,2181-12-08 09:56:00,hypotension,1.4
...,...,...,...,...,...,...,...,...,...,...,...
7509,19962250,23717024,2125-12-03 02:27:00,2125-12-11 12:58:00,34648185,2125-12-04 08:00:00,2125-12-03 04:07:00,2125-12-06 19:09:46,2125-12-04 10:44:00,control,1.3
7510,19966568,25640873,2141-04-21 17:05:00,2141-04-26 15:30:00,32059064,2141-04-23 07:16:00,2141-04-22 10:03:57,2141-04-23 18:04:03,2141-04-23 09:09:00,control,NaN
7511,19970078,29613932,2197-12-07 20:02:00,2197-12-22 17:07:00,31215342,2197-12-11 12:00:00,2197-12-10 22:31:49,2197-12-17 00:01:07,2197-12-11 13:39:00,control,NaN
7512,19982539,23136520,2175-04-23 09:31:00,2175-06-04 12:10:00,31123584,2175-04-26 00:00:00,2175-04-23 13:28:52,2175-05-13 10:22:21,2175-04-26 04:05:00,control,NaN
7513,19988077,28414691,2140-05-02 20:55:00,2140-05-22 17:48:00,33339952,2140-05-13 14:47:00,2140-05-13 14:32:43,2140-05-15 21:50:02,2140-05-13 19:57:00,control,3.1

In [312]:
Liver= Liver.replace({np.nan:None})

def Liver_score(table):
    
    # Liver score
    for i, row in table.iterrows():
        if table.at[i,'bilirubin'] == None:
            table.at[i,'Liver_socre'] = None
        elif table.at[i,'bilirubin'] < 1.2:
            table.at[i,'Liver_socre'] = 0
        elif table.at[i,'bilirubin'] < 2:
            table.at[i,'Liver_socre'] = 1
        elif table.at[i,'bilirubin'] < 6: 
            table.at[i,'Liver_socre'] = 2 
        elif table.at[i,'bilirubin'] < 12:
            table.at[i,'Liver_socre'] = 3
        else:
            table.at[i,'Liver_socre'] = 4

In [313]:
Liver_score(Liver)
Liver

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,bilirubin,Liver_socre
0,10005817,20626031,2132-12-12 01:43:00,2132-12-20 15:04:00,32604416,2132-12-15 18:50:00,2132-12-15 09:29:01,2132-12-17 18:06:07,2132-12-15 19:50:00,hypotension,None,NaN
1,10023486,25262533,2151-06-06 14:05:00,2151-06-24 20:13:00,31361200,2151-06-10 02:00:00,2151-06-06 14:06:06,2151-06-13 22:03:23,2151-06-10 04:44:00,control,None,NaN
2,10024982,25154057,2203-09-19 12:29:00,2203-10-11 19:10:00,37919901,2203-10-01 05:00:00,2203-09-20 18:27:39,2203-10-11 22:39:25,2203-10-01 07:29:00,control,1.2,1.0
3,10035631,29276678,2116-02-27 20:55:00,2116-03-12 07:45:00,30932571,2116-03-05 22:00:00,2116-02-28 18:43:20,2116-03-10 06:35:04,2116-03-06 03:37:00,hypotension,0.6,0.0
4,10038688,25926997,2181-12-06 06:16:00,2181-12-24 06:40:00,33804579,2181-12-08 04:00:00,2181-12-06 08:14:00,2181-12-22 20:27:01,2181-12-08 09:56:00,hypotension,1.4,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7509,19962250,23717024,2125-12-03 02:27:00,2125-12-11 12:58:00,34648185,2125-12-04 08:00:00,2125-12-03 04:07:00,2125-12-06 19:09:46,2125-12-04 10:44:00,control,1.3,1.0
7510,19966568,25640873,2141-04-21 17:05:00,2141-04-26 15:30:00,32059064,2141-04-23 07:16:00,2141-04-22 10:03:57,2141-04-23 18:04:03,2141-04-23 09:09:00,control,None,NaN
7511,19970078,29613932,2197-12-07 20:02:00,2197-12-22 17:07:00,31215342,2197-12-11 12:00:00,2197-12-10 22:31:49,2197-12-17 00:01:07,2197-12-11 13:39:00,control,None,NaN
7512,19982539,23136520,2175-04-23 09:31:00,2175-06-04 12:10:00,31123584,2175-04-26 00:00:00,2175-04-23 13:28:52,2175-05-13 10:22:21,2175-04-26 04:05:00,control,None,NaN
7513,19988077,28414691,2140-05-02 20:55:00,2140-05-22 17:48:00,33339952,2140-05-13 14:47:00,2140-05-13 14:32:43,2140-05-15 21:50:02,2140-05-13 19:57:00,control,3.1,2.0

In [314]:
Liver.to_csv(('SOFA_SCORE_Liver.csv'), index=False)

### 5. Coagulation score계산
- platelets

In [315]:
file='/save/sofa_file/mimic_Coagulation.csv'
Coagulation=pd.read_csv(file, sep=',', encoding='CP949')
Coagulation

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,platelets
0,10005817,20626031,2132-12-12 01:43:00,2132-12-20 15:04:00,32604416,2132-12-15 18:50:00,2132-12-15 09:29:01,2132-12-17 18:06:07,2132-12-15 19:50:00,hypotension,226.0
1,10023486,25262533,2151-06-06 14:05:00,2151-06-24 20:13:00,31361200,2151-06-10 02:00:00,2151-06-06 14:06:06,2151-06-13 22:03:23,2151-06-10 04:44:00,control,100.0
2,10024982,25154057,2203-09-19 12:29:00,2203-10-11 19:10:00,37919901,2203-10-01 05:00:00,2203-09-20 18:27:39,2203-10-11 22:39:25,2203-10-01 07:29:00,control,179.0
3,10035631,29276678,2116-02-27 20:55:00,2116-03-12 07:45:00,30932571,2116-03-05 22:00:00,2116-02-28 18:43:20,2116-03-10 06:35:04,2116-03-06 03:37:00,hypotension,107.0
4,10038688,25926997,2181-12-06 06:16:00,2181-12-24 06:40:00,33804579,2181-12-08 04:00:00,2181-12-06 08:14:00,2181-12-22 20:27:01,2181-12-08 09:56:00,hypotension,40.0
...,...,...,...,...,...,...,...,...,...,...,...
7509,19962250,23717024,2125-12-03 02:27:00,2125-12-11 12:58:00,34648185,2125-12-04 08:00:00,2125-12-03 04:07:00,2125-12-06 19:09:46,2125-12-04 10:44:00,control,113.0
7510,19966568,25640873,2141-04-21 17:05:00,2141-04-26 15:30:00,32059064,2141-04-23 07:16:00,2141-04-22 10:03:57,2141-04-23 18:04:03,2141-04-23 09:09:00,control,172.0
7511,19970078,29613932,2197-12-07 20:02:00,2197-12-22 17:07:00,31215342,2197-12-11 12:00:00,2197-12-10 22:31:49,2197-12-17 00:01:07,2197-12-11 13:39:00,control,231.0
7512,19982539,23136520,2175-04-23 09:31:00,2175-06-04 12:10:00,31123584,2175-04-26 00:00:00,2175-04-23 13:28:52,2175-05-13 10:22:21,2175-04-26 04:05:00,control,237.0
7513,19988077,28414691,2140-05-02 20:55:00,2140-05-22 17:48:00,33339952,2140-05-13 14:47:00,2140-05-13 14:32:43,2140-05-15 21:50:02,2140-05-13 19:57:00,control,81.0

In [316]:
Coagulation= Coagulation.replace({np.nan:None})

def Coagulation_score(table):
    
    # Coagulation score
    for i, row in table.iterrows():

        if table.at[i,'platelets'] == None:
            table.at[i,'Coagulation_score'] = None
        elif table.at[i,'platelets'] >= 150:
            table.at[i,'Coagulation_score'] = 0
        elif table.at[i,'platelets'] >= 100:
            table.at[i,'Coagulation_score'] = 1
        elif table.at[i,'platelets'] >= 50: 
            table.at[i,'Coagulation_score'] = 2 
        elif table.at[i,'platelets'] >= 20:
            table.at[i,'Coagulation_score'] = 3
        else:
            table.at[i,'Coagulation_score'] = 4

In [317]:
Coagulation_score(Coagulation)
Coagulation

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,platelets,Coagulation_score
0,10005817,20626031,2132-12-12 01:43:00,2132-12-20 15:04:00,32604416,2132-12-15 18:50:00,2132-12-15 09:29:01,2132-12-17 18:06:07,2132-12-15 19:50:00,hypotension,226.0,0.0
1,10023486,25262533,2151-06-06 14:05:00,2151-06-24 20:13:00,31361200,2151-06-10 02:00:00,2151-06-06 14:06:06,2151-06-13 22:03:23,2151-06-10 04:44:00,control,100.0,1.0
2,10024982,25154057,2203-09-19 12:29:00,2203-10-11 19:10:00,37919901,2203-10-01 05:00:00,2203-09-20 18:27:39,2203-10-11 22:39:25,2203-10-01 07:29:00,control,179.0,0.0
3,10035631,29276678,2116-02-27 20:55:00,2116-03-12 07:45:00,30932571,2116-03-05 22:00:00,2116-02-28 18:43:20,2116-03-10 06:35:04,2116-03-06 03:37:00,hypotension,107.0,1.0
4,10038688,25926997,2181-12-06 06:16:00,2181-12-24 06:40:00,33804579,2181-12-08 04:00:00,2181-12-06 08:14:00,2181-12-22 20:27:01,2181-12-08 09:56:00,hypotension,40.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7509,19962250,23717024,2125-12-03 02:27:00,2125-12-11 12:58:00,34648185,2125-12-04 08:00:00,2125-12-03 04:07:00,2125-12-06 19:09:46,2125-12-04 10:44:00,control,113.0,1.0
7510,19966568,25640873,2141-04-21 17:05:00,2141-04-26 15:30:00,32059064,2141-04-23 07:16:00,2141-04-22 10:03:57,2141-04-23 18:04:03,2141-04-23 09:09:00,control,172.0,0.0
7511,19970078,29613932,2197-12-07 20:02:00,2197-12-22 17:07:00,31215342,2197-12-11 12:00:00,2197-12-10 22:31:49,2197-12-17 00:01:07,2197-12-11 13:39:00,control,231.0,0.0
7512,19982539,23136520,2175-04-23 09:31:00,2175-06-04 12:10:00,31123584,2175-04-26 00:00:00,2175-04-23 13:28:52,2175-05-13 10:22:21,2175-04-26 04:05:00,control,237.0,0.0
7513,19988077,28414691,2140-05-02 20:55:00,2140-05-22 17:48:00,33339952,2140-05-13 14:47:00,2140-05-13 14:32:43,2140-05-15 21:50:02,2140-05-13 19:57:00,control,81.0,2.0

In [318]:
Coagulation.to_csv(('SOFA_SCORE_Coagulation.csv'), index=False)

### 6. Renal score계산
- cratinine, urine output

In [319]:
file='/save/sofa_file/mimic_Renal.csv'
Renal=pd.read_csv(file, sep=',', encoding='CP949')
Renal

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,creatinine,urine_out
0,14189704,25626656,2170-10-07 00:00:00,2170-10-14 17:00:00,34892916,2170-10-11 00:00:00,2170-10-10 09:08:38,2170-10-11 14:14:34,2170-10-11 04:24:00,control,1.0,NaN
1,13280368,25603270,2129-01-12 21:32:00,2129-02-09 18:19:00,35155166,2129-01-14 00:00:00,2129-01-12 23:11:00,2129-01-17 17:59:10,2129-01-14 01:35:00,hypotension,0.7,NaN
2,14841168,27381987,2134-12-29 20:46:00,2135-02-08 20:08:00,33625183,2135-01-27 04:00:00,2135-01-19 21:06:49,2135-02-07 21:12:12,2135-01-27 07:56:00,hypotension,4.0,NaN
3,11836722,22659832,2160-08-10 13:48:00,2160-08-19 17:30:00,32542144,2160-08-10 19:15:00,2160-08-10 16:37:39,2160-08-11 20:38:32,2160-08-10 20:00:00,control,0.9,NaN
4,17862068,26534079,2147-09-25 15:13:00,2147-10-26 15:00:00,39432001,2147-10-02 15:00:00,2147-09-27 11:46:54,2147-10-26 15:23:36,2147-10-02 17:12:00,hypotension,1.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7509,19800011,23613589,2183-02-06 00:49:00,2183-02-20 18:59:00,36061939,2183-02-06 16:00:00,2183-02-06 00:50:29,2183-02-08 08:35:28,2183-02-06 20:07:00,hypotension,0.4,NaN
7510,18908038,21941144,2207-04-12 22:29:00,2207-04-18 13:07:00,30798280,2207-04-14 08:00:00,2207-04-12 23:48:00,2207-04-15 22:50:47,2207-04-14 08:57:00,control,0.8,NaN
7511,11052292,23514030,2116-02-19 22:47:00,2116-03-08 03:59:00,31134294,2116-02-20 22:00:00,2116-02-19 23:52:00,2116-03-06 09:10:59,2116-02-21 02:45:00,control,1.0,NaN
7512,13895555,21516179,2116-08-20 08:16:00,2116-09-13 16:15:00,30092891,2116-08-24 16:00:00,2116-08-20 09:59:00,2116-09-10 23:07:42,2116-08-24 16:09:00,control,0.8,NaN
7513,12070588,27332164,2150-09-27 18:32:00,2150-10-04 14:12:00,33131804,2150-10-01 00:00:00,2150-09-30 20:00:40,2150-10-01 21:40:30,2150-10-01 05:41:00,hypotension,1.0,NaN

In [320]:
Renal= Renal.replace({np.nan:None})

def Renal_score(table):
    
    # Renal socre
    for i, row in table.iterrows():
        if table.at[i,'creatinine'] == None:
            table.at[i,'Renal_socre'] = None
        elif table.at[i,'creatinine'] < 1.2:
            table.at[i,'Renal_socre'] = 0
        elif table.at[i,'creatinine'] < 2:
            table.at[i,'Renal_socre'] = 1
        elif table.at[i,'creatinine'] < 3.5: 
            table.at[i,'Renal_socre'] = 2 
        elif table.at[i,'creatinine'] < 5:
            table.at[i,'Renal_socre'] = 3
        else :
            table.at[i,'Renal_socre'] = 4

In [321]:
Renal_score(Renal)
Renal

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,creatinine,urine_out,Renal_socre
0,14189704,25626656,2170-10-07 00:00:00,2170-10-14 17:00:00,34892916,2170-10-11 00:00:00,2170-10-10 09:08:38,2170-10-11 14:14:34,2170-10-11 04:24:00,control,1.0,None,0.0
1,13280368,25603270,2129-01-12 21:32:00,2129-02-09 18:19:00,35155166,2129-01-14 00:00:00,2129-01-12 23:11:00,2129-01-17 17:59:10,2129-01-14 01:35:00,hypotension,0.7,None,0.0
2,14841168,27381987,2134-12-29 20:46:00,2135-02-08 20:08:00,33625183,2135-01-27 04:00:00,2135-01-19 21:06:49,2135-02-07 21:12:12,2135-01-27 07:56:00,hypotension,4.0,None,3.0
3,11836722,22659832,2160-08-10 13:48:00,2160-08-19 17:30:00,32542144,2160-08-10 19:15:00,2160-08-10 16:37:39,2160-08-11 20:38:32,2160-08-10 20:00:00,control,0.9,None,0.0
4,17862068,26534079,2147-09-25 15:13:00,2147-10-26 15:00:00,39432001,2147-10-02 15:00:00,2147-09-27 11:46:54,2147-10-26 15:23:36,2147-10-02 17:12:00,hypotension,1.2,None,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,19800011,23613589,2183-02-06 00:49:00,2183-02-20 18:59:00,36061939,2183-02-06 16:00:00,2183-02-06 00:50:29,2183-02-08 08:35:28,2183-02-06 20:07:00,hypotension,0.4,None,0.0
7510,18908038,21941144,2207-04-12 22:29:00,2207-04-18 13:07:00,30798280,2207-04-14 08:00:00,2207-04-12 23:48:00,2207-04-15 22:50:47,2207-04-14 08:57:00,control,0.8,None,0.0
7511,11052292,23514030,2116-02-19 22:47:00,2116-03-08 03:59:00,31134294,2116-02-20 22:00:00,2116-02-19 23:52:00,2116-03-06 09:10:59,2116-02-21 02:45:00,control,1.0,None,0.0
7512,13895555,21516179,2116-08-20 08:16:00,2116-09-13 16:15:00,30092891,2116-08-24 16:00:00,2116-08-20 09:59:00,2116-09-10 23:07:42,2116-08-24 16:09:00,control,0.8,None,0.0
7513,12070588,27332164,2150-09-27 18:32:00,2150-10-04 14:12:00,33131804,2150-10-01 00:00:00,2150-09-30 20:00:40,2150-10-01 21:40:30,2150-10-01 05:41:00,hypotension,1.0,None,0.0

In [322]:
Renal.to_csv(('SOFA_SCORE_Renal.csv'), index=False)

## SOFA_SCORE details

### 1. Respiratory

In [323]:
file='/save/SOFA_SCORE_Respiratory.csv'
SOFA_SCORE_Respiratory=pd.read_csv(file, sep=',', encoding='CP949')
SOFA_SCORE_Respiratory

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,pao2_fio2,vent,Respiration_score
0,14474291,24489118,2185-05-22 17:33:00,2185-05-27 17:46:00,35451559,2185-05-23 18:16:00,2185-05-23 03:02:56,2185-05-24 15:51:26,2185-05-23 20:21:00,control,NaN,Ventilation,3.0
1,12586891,20283635,2135-10-16 00:47:00,2135-10-20 18:20:00,31486603,2135-10-18 10:00:00,2135-10-16 11:55:11,2135-10-19 14:33:29,2135-10-18 10:05:00,control,NaN,Ventilation,3.0
2,12271507,22258468,2120-02-18 00:00:00,2120-02-25 14:00:00,35876246,2120-02-21 20:00:00,2120-02-18 13:08:42,2120-02-22 17:54:17,2120-02-21 21:12:00,hypotension,NaN,NaN,NaN
3,15066358,28602616,2138-08-05 22:01:00,2138-08-08 20:15:00,39562405,2138-08-06 12:00:00,2138-08-05 22:01:57,2138-08-06 23:16:56,2138-08-06 17:18:00,control,NaN,Ventilation,3.0
4,10343369,25921885,2146-11-12 02:36:00,2146-12-12 14:46:00,38434214,2146-11-12 08:00:00,2146-11-12 04:24:00,2146-11-15 17:22:55,2146-11-12 12:27:00,hypotension,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,11439955,27907898,2125-06-16 11:24:00,2125-06-25 18:42:00,31730195,2125-06-17 18:00:00,2125-06-17 10:19:34,2125-06-22 13:53:55,2125-06-17 23:30:00,hypotension,NaN,Ventilation,3.0
7510,16760919,25261418,2167-01-28 21:19:00,2167-02-23 16:25:00,35222042,2167-02-09 23:00:00,2167-02-09 12:50:44,2167-02-15 16:06:02,2167-02-09 23:50:00,control,NaN,Ventilation,3.0
7511,16680284,24006731,2138-01-02 01:18:00,2138-01-29 19:30:00,30954212,2138-01-08 09:00:00,2138-01-06 20:02:12,2138-01-12 16:37:30,2138-01-08 14:49:00,hypotension,NaN,Ventilation,3.0
7512,10756776,24477686,2179-01-02 19:08:00,2179-01-09 19:05:00,39506188,2179-01-04 00:00:00,2179-01-02 19:08:33,2179-01-04 18:47:01,2179-01-04 02:00:00,control,NaN,NaN,NaN
7513,18908516,27332538,2180-04-14 00:00:00,2180-06-12 20:35:00,37329406,2180-04-16 02:00:00,2180-04-14 09:59:03,2180-06-07 17:06:12,2180-04-16 07:59:00,control,NaN,Ventilation,3.0

In [324]:
SOFA_SCORE_Respiratory['Respiration_score'].value_counts()

3.0    4775
4.0       6
2.0       2
Name: Respiration_score, dtype: int64

In [325]:
SOFA_SCORE_Respiratory['Respiration_score'].isnull().sum()

2731

### 2. Cardiovascular score

In [342]:
file='/save/SOFA_SCORE_Cardiovascular.csv'
SOFA_SCORE_Cardiovascular=pd.read_csv(file, sep=',', encoding='CP949')

In [343]:
SOFA_SCORE_Cardiovascular

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,mbp,medication_vaso,amount,amountuom,rate,rateuom,Cardiovascular_score
0,12377638,20006999,2127-06-17 10:45:00,2127-06-24 15:54:00,32160575,2127-06-19 02:00:00,2127-06-18 09:29:36,2127-06-21 11:34:11,2127-06-19 04:52:00,hypotension,57.0,epinephrine,0.063,mg,0.030,mcg/kg/min,3.0
1,16534814,20019875,2144-01-07 00:00:00,2144-01-15 10:30:00,39586196,2144-01-09 02:30:00,2144-01-08 13:23:11,2144-01-11 17:40:36,2144-01-09 02:34:00,control,69.0,norepinephrine,0.139,mg,0.020,mcg/kg/min,3.0
2,13399796,20020590,2121-11-17 20:18:00,2121-11-19 18:00:00,39167908,2121-11-18 00:00:00,2121-11-17 20:18:32,2121-11-20 03:20:40,2121-11-18 05:06:00,hypotension,78.0,norepinephrine,0.279,mg,0.100,mcg/kg/min,3.0
3,13743788,20024997,2153-03-21 21:34:00,2153-03-27 16:21:00,30114664,2153-03-22 01:00:00,2153-03-21 21:35:44,2153-03-25 16:18:33,2153-03-22 06:00:00,control,76.0,vasopressin,21.520,units,2.400,units/hour,3.0
4,19290559,20025037,2154-08-31 05:18:00,2154-09-05 15:16:00,30271409,2154-08-31 11:00:00,2154-08-31 05:41:00,2154-09-02 21:14:46,2154-08-31 13:00:00,hypotension,NaN,norepinephrine,1.304,mg,0.093,mcg/kg/min,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,16058742,20477478,2133-11-02 15:09:00,2133-11-18 18:20:00,39394095,2133-11-02 16:32:00,2133-11-02 16:15:00,2133-11-12 17:15:13,2133-11-02 20:28:00,control,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7510,11981568,25657883,2138-12-28 21:59:00,2139-04-15 17:30:00,39366449,2139-02-15 08:00:00,2139-02-13 10:00:03,2139-02-17 16:41:35,2139-02-15 10:00:00,control,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7511,12079813,21760468,2157-04-27 02:42:00,2157-05-08 12:50:00,39032966,2157-04-27 12:00:00,2157-04-27 04:17:00,2157-05-02 16:27:37,2157-04-27 16:08:00,control,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7512,19767462,23569057,2156-07-22 23:00:00,2156-08-09 15:00:00,39939500,2156-07-23 16:00:00,2156-07-23 00:19:00,2156-07-29 23:28:32,2156-07-23 18:38:00,control,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7513,10890447,28025587,2149-08-24 06:46:00,2149-09-16 18:37:00,39823174,2149-08-27 13:00:00,2149-08-24 10:06:50,2149-09-16 19:32:07,2149-08-27 18:17:00,control,86.0,NaN,NaN,NaN,NaN,NaN,0.0

In [344]:
SOFA_SCORE_Cardiovascular['Cardiovascular_score'].value_counts()

0.0    2394
3.0    2207
1.0     546
2.0      85
Name: Cardiovascular_score, dtype: int64

In [345]:
SOFA_SCORE_Cardiovascular['Cardiovascular_score'].isnull().sum()

2282

### 3. Central nervous system score

In [330]:
file='/save/SOFA_SCORE_GCS.csv'
SOFA_SCORE_GCS=pd.read_csv(file, sep=',', encoding='CP949')
SOFA_SCORE_GCS['GCS_score'].value_counts()

4.0    2920
0.0    1732
3.0    1305
2.0     795
1.0     760
Name: GCS_score, dtype: int64

In [331]:
SOFA_SCORE_GCS['GCS_score'].isnull().sum()

2

### 4.Liver score

In [332]:
file='/save/SOFA_SCORE_Liver.csv'
SOFA_SCORE_Liver=pd.read_csv(file, sep=',', encoding='CP949')
SOFA_SCORE_Liver['Liver_socre'].value_counts()

0.0    2160
1.0     391
2.0     307
4.0      59
3.0      51
Name: Liver_socre, dtype: int64

In [333]:
SOFA_SCORE_Liver['Liver_socre'].isnull().sum()

4546

### 5. Coagulation score

In [334]:
file='/save/SOFA_SCORE_Coagulation.csv'
SOFA_SCORE_Coagulation=pd.read_csv(file, sep=',', encoding='CP949')
SOFA_SCORE_Coagulation['Coagulation_score'].value_counts()

0.0    4580
1.0    1969
2.0     699
3.0     139
4.0      48
Name: Coagulation_score, dtype: int64

In [335]:
SOFA_SCORE_Coagulation['Coagulation_score'].isnull().sum()

79

### 6. Renal score

In [336]:
file='/save/SOFA_SCORE_Renal.csv'
SOFA_SCORE_Renal=pd.read_csv(file, sep=',', encoding='CP949')
SOFA_SCORE_Renal['Renal_socre'].value_counts()

0.0    5236
1.0    1426
2.0     466
3.0     163
4.0     163
Name: Renal_socre, dtype: int64

In [337]:
SOFA_SCORE_Renal['Renal_socre'].isnull().sum()

60

In [292]:
SOFA_SCORE_Respiratory

,subject_id,hadm_id,admittime,dischtime,stay_id,fevertime,icu_in,icu_out,aap_iv_time,group_hypo,pao2_fio2,vent,Respiration_score
0,14474291,24489118,2185-05-22 17:33:00,2185-05-27 17:46:00,35451559,2185-05-23 18:16:00,2185-05-23 03:02:56,2185-05-24 15:51:26,2185-05-23 20:21:00,control,NaN,Ventilation,3.0
1,12586891,20283635,2135-10-16 00:47:00,2135-10-20 18:20:00,31486603,2135-10-18 10:00:00,2135-10-16 11:55:11,2135-10-19 14:33:29,2135-10-18 10:05:00,control,NaN,Ventilation,3.0
2,12271507,22258468,2120-02-18 00:00:00,2120-02-25 14:00:00,35876246,2120-02-21 20:00:00,2120-02-18 13:08:42,2120-02-22 17:54:17,2120-02-21 21:12:00,hypotension,NaN,NaN,NaN
3,15066358,28602616,2138-08-05 22:01:00,2138-08-08 20:15:00,39562405,2138-08-06 12:00:00,2138-08-05 22:01:57,2138-08-06 23:16:56,2138-08-06 17:18:00,control,NaN,Ventilation,3.0
4,10343369,25921885,2146-11-12 02:36:00,2146-12-12 14:46:00,38434214,2146-11-12 08:00:00,2146-11-12 04:24:00,2146-11-15 17:22:55,2146-11-12 12:27:00,hypotension,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7509,11439955,27907898,2125-06-16 11:24:00,2125-06-25 18:42:00,31730195,2125-06-17 18:00:00,2125-06-17 10:19:34,2125-06-22 13:53:55,2125-06-17 23:30:00,hypotension,NaN,Ventilation,3.0
7510,16760919,25261418,2167-01-28 21:19:00,2167-02-23 16:25:00,35222042,2167-02-09 23:00:00,2167-02-09 12:50:44,2167-02-15 16:06:02,2167-02-09 23:50:00,control,NaN,Ventilation,3.0
7511,16680284,24006731,2138-01-02 01:18:00,2138-01-29 19:30:00,30954212,2138-01-08 09:00:00,2138-01-06 20:02:12,2138-01-12 16:37:30,2138-01-08 14:49:00,hypotension,NaN,Ventilation,3.0
7512,10756776,24477686,2179-01-02 19:08:00,2179-01-09 19:05:00,39506188,2179-01-04 00:00:00,2179-01-02 19:08:33,2179-01-04 18:47:01,2179-01-04 02:00:00,control,NaN,NaN,NaN
7513,18908516,27332538,2180-04-14 00:00:00,2180-06-12 20:35:00,37329406,2180-04-16 02:00:00,2180-04-14 09:59:03,2180-06-07 17:06:12,2180-04-16 07:59:00,control,NaN,Ventilation,3.0

### SOFA SCORE 점수 합산

In [293]:
SOFA_SCORE_Respiratory=SOFA_SCORE_Respiratory[['subject_id','hadm_id','group_hypo','Respiration_score']]
SOFA_SCORE_Cardiovascular=SOFA_SCORE_Cardiovascular[['subject_id','Cardiovascular_score']]
merge_1=pd.merge(SOFA_SCORE_Respiratory,SOFA_SCORE_Cardiovascular,how='outer',on='subject_id')
merge_1= merge_1.replace({np.nan:0})
merge_1

,subject_id,hadm_id,group_hypo,Respiration_score,Cardiovascular_score
0,14474291,24489118,control,3.0,0.0
1,12586891,20283635,control,3.0,3.0
2,12271507,22258468,hypotension,0.0,0.0
3,15066358,28602616,control,3.0,0.0
4,10343369,25921885,hypotension,0.0,3.0
...,...,...,...,...,...
7509,11439955,27907898,hypotension,3.0,3.0
7510,16760919,25261418,control,3.0,0.0
7511,16680284,24006731,hypotension,3.0,3.0
7512,10756776,24477686,control,0.0,0.0
7513,18908516,27332538,control,3.0,0.0

In [294]:
merge_2 = pd.merge(merge_1,SOFA_SCORE_GCS[['subject_id','GCS_score']],how='outer',on='subject_id')

merge_3= pd.merge(merge_2,SOFA_SCORE_Liver[['subject_id','Liver_socre']],how='outer',on='subject_id')

merge_4= pd.merge(merge_3,SOFA_SCORE_Coagulation[['subject_id','Coagulation_score']],how='outer',on='subject_id')

merge_5= pd.merge(merge_4,SOFA_SCORE_Renal[['subject_id','Renal_socre']],how='outer',on='subject_id')
merge_5= merge_5.replace({np.nan:0})


merge_5.loc[:,'sofa'] = merge_5.loc[:,'Respiration_score':'Renal_socre'].sum(axis=1)
merge_5

,subject_id,hadm_id,group_hypo,Respiration_score,Cardiovascular_score,GCS_score,Liver_socre,Coagulation_score,Renal_socre,sofa
0,14474291,24489118,control,3.0,0.0,0.0,0.0,0.0,0.0,3.0
1,12586891,20283635,control,3.0,3.0,4.0,0.0,0.0,0.0,10.0
2,12271507,22258468,hypotension,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15066358,28602616,control,3.0,0.0,4.0,0.0,1.0,1.0,9.0
4,10343369,25921885,hypotension,0.0,3.0,1.0,1.0,2.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...
7509,11439955,27907898,hypotension,3.0,3.0,4.0,0.0,1.0,0.0,11.0
7510,16760919,25261418,control,3.0,0.0,4.0,0.0,1.0,0.0,8.0
7511,16680284,24006731,hypotension,3.0,3.0,4.0,0.0,0.0,1.0,11.0
7512,10756776,24477686,control,0.0,0.0,3.0,0.0,0.0,0.0,3.0
7513,18908516,27332538,control,3.0,0.0,4.0,0.0,2.0,2.0,11.0

In [295]:
merge_5.to_csv(('SOFA_SCORE_TOTAL.csv'), index=False)

### 최종 SEPSIS판단

In [296]:
file='/save/SOFA_SCORE_TOTAL.csv'
SOFA_SCORE_TOTAL=pd.read_csv(file, sep=',', encoding='CP949')

In [297]:
len(SOFA_SCORE_TOTAL.loc[SOFA_SCORE_TOTAL['sofa']>=2])

6415

In [298]:
len(SOFA_SCORE_TOTAL.loc[SOFA_SCORE_TOTAL['sofa']<2])

1099